PHARIA_AI_TOKEN=

PHARIA_DATA_NAMESPACE=Assistant
PHARIA_DATA_COLLECTION=pharia-tutorial-rag
PHARIA_DATA_PLATFORM_URL=https://pharia-data-api.partner.stage.product.pharia.com

DOCUMENT_INDEX_API_URL=https://document-index.partner.stage.product.pharia.com

REPOSITORY_NAME=RAG_Tutorial_Repository

STAGE_NAME=DocumentStorageTutotialTest
# You can check the other transformations in the documentation https://pharia-data-api.stage.partner.product.pharia.com/api/v1/transformations
TRANSFORMATION_NAME=DocumentToMarkdown 
TRIGGER_NAME=testTrigger - DocumentStorageTutorial

INDEX=rag-tutorial-index